
/Typescript_project/node_modules
/Typescript_project/package-lock.json
/Home_w_1_gher
/trainingSession_Classes_Interfaces
/Quest/node_modules  
/Quest/package-lock.json
/Quest/bin
/hover/node_modules
/hover/package-lock.json 
